<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/webcomponentsjs/webcomponents.min.js">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<dom-module id="main-header">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-toolbar {
                --paper-toolbar-background: rbga(0, 0, 0, 0);

            }
        </style>


        <div>
            <paper-toolbar>

            </paper-toolbar>
        </div>

    </template>

    <script>
        (function() {
            Polymer({
                is:"main-header",

                properties: {

                }
            })
        }) ();
    </script>

</dom-module>