
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/webcomponentsjs/webcomponents.min.js">
<!--<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">-->
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="news-title">
    <template>
        <style>
            .titleBar {
                width: 100%;
                height: auto;
                min-height: 96px;
                padding: 16px 0 8px 0;
                background-color: rgba(256, 256, 256, 0.5);
            }

            .titleContainer {
                margin-left: auto;
                margin-right: auto;
                max-width: 960px;
            }

            @media (max-width: 1020px){
                .titleContainer {
                    margin: 0 30px;
                }
            }

            .titleContainer:after {
                content: '';
                display: block;
                clear: both;
            }

            .logo {
                padding-right: 16px;
                width: 80px;
                display: table-cell;
            }

            .title {
                display: table-cell;
                vertical-align: top;
                padding-right: 80px;
                min-width: 380px;

                font-size: 32px;
                text-wrap: normal;
                color: #333333;

            }

            iron-image {
                height: 64px;
                width: 64px;
            }

        </style>

        <div class="titleBar">
            <div class="titleContainer">
                <div class="logo">
                    <iron-image src={{logosrc}} sizing="contain" fade></iron-image>
                </div>
                <div class="title">
                    <span>{{title}}</span>
                </div>
            </div>
        </div>

    </template>

    <script>
        (function() {
            Polymer({
                is: "news-title",

                properties: {
                    logosrc: {
                        type:String,
                        value: ""
                    },

                    title: String

                }
            })
        }) ();
    </script>
</dom-module>