
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="blog-header.html">
<link rel="import" href="blog-container.html">


<dom-module id="blog-constructor">
    <template>
        <style>
            :host {
                width: 100%;
                height: auto;
            }

            paper-header-panel {
                float: left;
                width: 100%;
                height: 100%;
            @apply(--shadow-elevation-2dp);
            }

            .paper-header {
                height: 100px;
                font-size: 16px;
                line-height: 60px;
                padding: 0 10px;
                color: white;
                transition: height 0.2s;
            }

            .paper-header.tall {
                height: 500px;
            }

            .content {
                margin-top: 96px;
                margin-left: auto;
                margin-right: auto;

                width: 80%;
                max-width: 960px;
                height: 4000px;
            }

            .pink .paper-header {
                background-color: var(--paper-pink-a200);
            }

            .pink .content {
                /*background: linear-gradient(white, #f8bbd0);*/
            }

        </style>

        <paper-header-panel mode="waterfall-tall" class="pink" on-content-scroll="scrollHandler">
            <div class="paper-header">
                <blog-header blogtitle="Fantastic Four"></blog-header>
            </div>
            <div class="content">

                <blog-container posttitle="W5 -- Idea Brainstorming">
                    <div>
                        From the last workshop, we decided our three concept ideas: the breaking news map, "free to comment" journalistic communication channel and news trend map.<br />
                        <br />
                        However, we recognised a problem that the first and last ideas are clashing with other groups. Because of this reason, the group starts brainstorm an final idea as our team project.<br />
                        <br />
                        <div class="separator" style="clear: both; text-align: center;">
                            <a href="http://4.bp.blogspot.com/-nghOuMXcaug/VeGX895Rq3I/AAAAAAAAFxA/giiAhIE-3Ig/s1600/IMG_1352.JPG" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="240" src="http://4.bp.blogspot.com/-nghOuMXcaug/VeGX895Rq3I/AAAAAAAAFxA/giiAhIE-3Ig/s320/IMG_1352.JPG" width="320" /></a></div>
                        <br />
                        <br />
                        <br />
                        <span id="goog_225549987"></span> Firstly, we thought about the real journalism problem: bias between publishers and different media. And in a traditional context, readers got news from certain fixed media and sources -- media-oriented. The position of these sources for reported issues will guide readers minds. And then, a misunderstand for the issue start growing up. Therefore, if reverse the traditional relationship between readers and issues themsevles, we can get a new view for this problem -- issue-oriented. Under this circumstance, readers focus on different issues. They can get different reports from different media for one issue. Even if media have their own position for one issue, the bias will be eliminated to some extent after readers can have an overview for the whole things.<br />
                        <br />
                        <div class="separator" style="clear: both; text-align: center;">
                            <a href="http://1.bp.blogspot.com/-_CXq3N3WP04/VeGX4jR_FcI/AAAAAAAAFww/J_S5AOe_kLY/s1600/IMG_1362.JPG" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="240" src="http://1.bp.blogspot.com/-_CXq3N3WP04/VeGX4jR_FcI/AAAAAAAAFww/J_S5AOe_kLY/s320/IMG_1362.JPG" width="320" /></a></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            Users always read articles from one channel.</div>
                        <div class="separator" style="clear: both; text-align: center;">
                            <br /></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            <br /></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            <a href="http://4.bp.blogspot.com/-KZ6YsoIGDeo/VeGX5cFwtUI/AAAAAAAAFw0/MaM6DqVI6BA/s1600/IMG_1363.JPG" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="240" src="http://4.bp.blogspot.com/-KZ6YsoIGDeo/VeGX5cFwtUI/AAAAAAAAFw0/MaM6DqVI6BA/s320/IMG_1363.JPG" width="320" /></a></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            But we can create a new platform to allow users to read different point of views from different publishers.</div>
                        <div class="separator" style="clear: both; text-align: center;">
                            <br /></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            <br /></div>
                        Secondly, we tried to refine Nicholas's idea, combining Danmuka(Japanse, means flowing comments), rating system and journals into a single app, and also offering an entirely new way for users to participate, comment and release their point of views in a specific news.<br />
                        <br />
                        In this workshop we finalised the concept.<br />
                        <div dir="ltr" style="margin-bottom: 0pt; margin-top: 0pt;">
                        </div>
                        <ul>
                            <li style="line-height: 1.38;"><span style="font-family: Arial; font-size: 14.6666666666667px; line-height: 1.38; white-space: pre-wrap;">putting multiple articles from publishers together in one platform, having a view in one place</span></li>
                            <li><span style="font-family: Arial; font-size: 14.6666666666667px; line-height: 1.38; white-space: pre-wrap;">rank view: followed by article</span></li>
                            <li><span style="font-family: Arial; font-size: 14.6666666666667px; line-height: 1.38; white-space: pre-wrap;">timeline view: articles are sorted by time </span></li>
                            <li><span style="font-family: Arial; font-size: 14.6666666666667px; line-height: 1.38; white-space: pre-wrap;">click on the article -- flowing comments -- allow users to comment on the news</span></li>
                            <li><span style="font-family: Arial; font-size: 14.6666666666667px; line-height: 1.38; white-space: pre-wrap;">rating, verifying quality (importance, impactful -- does it impact you?) of the source </span></li>
                            <li><span style="font-family: Arial; font-size: 14.6666666666667px; line-height: 1.38; white-space: pre-wrap;">users can view articles by its ranking or publish time</span></li>
                        </ul>
                        <div class="separator" style="clear: both; text-align: center;">
                            <a href="http://4.bp.blogspot.com/-i7DhtPJbBdw/VeGd1FnTPFI/AAAAAAAAFxQ/AoXLbGql4r0/s1600/CD9F171749DC8E6743DAD9D28B803A2B.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="240" src="http://4.bp.blogspot.com/-i7DhtPJbBdw/VeGd1FnTPFI/AAAAAAAAFxQ/AoXLbGql4r0/s320/CD9F171749DC8E6743DAD9D28B803A2B.png" width="320" /></a></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            Ranking view</div>
                        <br />
                        <div class="separator" style="clear: both; text-align: center;">
                            <a href="http://1.bp.blogspot.com/-HEvcL8fCZeM/VeGd5OKSIYI/AAAAAAAAFxY/sYBC2O8aGLw/s1600/IMG_1364.JPG" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="240" src="http://1.bp.blogspot.com/-HEvcL8fCZeM/VeGd5OKSIYI/AAAAAAAAFxY/sYBC2O8aGLw/s320/IMG_1364.JPG" width="320" /></a></div>
                        <div class="separator" style="clear: both; text-align: center;">
                            Time-based. When users click to view a article, it turns to a article page and those live comments will be displayed at the same time.</div>
                        <br />
                        <br />
                    </div>
                </blog-container>

                <blog-container posttitle="Hello World">
                    <div>
                        <p>This blog is for documenting the whole progress of the project of our team, Fantastic Five, in Journalism Design and Social &amp; Mobile Computing. So you can witness how we set up our concept and project step by step.<br />
                        </p>
                        <p>Help yourself, Cheers!!!</p>
                    </div>
                </blog-container>
            </div>
        </paper-header-panel>

    </template>

    <script>
        (function () {
            Polymer({
                is: "blog-constructor",

                properties: {

                },

                scrollHandler: function(event) {

                    var scroller = event.detail.target;
                    console.log(scroller.scrollTop);
                    var scrollTitle = document.querySelector('#scrollTitle');
                    var title = document.querySelector('#title');
                    if(scroller.scrollTop) {
                        scrollTitle.className = "";
                        title.className = "hidden"
                    }else{
                        scrollTitle.className = "hidden";
                        title.className = "bottom"
                    }
                }
            })
        }) ()
    </script>
</dom-module>