
.wrap {
    margin-top: 64px;
    position: relative;
}

.abp {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 500px;
}

.abp .container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.abp .container .cmt {
    color: #000;
}

ul {
    position: relative;
    margin-top: 500px;
    padding-bottom: 100px;
}

#my-comment-stage .hidden {
    visibility: hidden;
}